.nav {
  display: none;

  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;

    border-bottom: 1px solid $secondary-text-color;
  }
}
.nav__link {
  @include fonts();
  color: $link-main-color;
  &--accent {
    color: $link-accent-color;
  }
}
