.hero {
  position: relative;
  display: flex;
}

.hero__title {
  font-family: 'Gilroy-Bold';
  @include fonts(47px, 1.25, 700);
}
.hero__text {
  font-family: 'Gilroy-Medium';
  @include fonts();
}

.hero__link {
  position: absolute;
  bottom: 54px;
  right: 0;
  font-family: 'Gilroy-Bold';
  @include fonts(16px, 1.25, 700);

  color: $link-main-color;
  transform: rotate(270deg);

  &--accent {
    color: $link-accent-color;
  }
}
