//Colors
//text
$text-color: #070707;
$secondary-text-color: #828282;
//button
$btn-text-color: #ffffff;
$btn-bgc: #070707;
//background
$main-bgc: #ffffff;
$secondary-bgc: #f6f6f6;
//link
$link-main-color: #828282;
$link-accent-color: #070707;

//breakpoints
$mobile: 375px;
$desktop: 1200px;
