<section class="section">
  <div class="container">
    <h2 class="section__title section__title--footer">Contacts</h2>
    <p class="section__text section__text--footer">
      Want to know more or just chat? You are welcome!
    </p>
    <button class="section__button" type="button">Send message</button>
    <ul class="socials">
      <li class="socials__item">
        <a class="socials__link" href="https://www.linkedin.com/">
          <svg class="socials__icons" width="40" height="40">
            <use href="./images/icons.svg#LinkedIn"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a class="socials__link" href="https://www.instagram.com/">
          <svg class="socials__icons" width="40" height="40">
            <use href="./images/icons.svg#Instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a class="socials__link" href="https://www.behance.net/">
          <svg class="socials__icons" width="40" height="40">
            <use href="./images/icons.svg#Behance"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a class="socials__link" href="https://dribbble.com/">
          <svg class="socials__icons" width="40" height="40">
            <use href="./images/icons.svg#Dribble"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="thumb">
      <p class="list__text">Like me on</p>
      <ul class="list">
        <li class="list__item">
          <a href="https://www.linkedin.com/" class="list_link">LinkedIn,</a>
        </li>
        <li class="list__item">
          <a href="https://www.instagram.com/" class="list_link">Instagram,</a>
        </li>
        <li class="list__item">
          <a href="https://www.behance.net/" class="list_link">Behance,</a>
        </li>
        <li class="list__item"><a href="https://dribbble.com/" class="list_link">Dribble</a></li>
      </ul>
    </div>
  </div>
</section>
