<section class="section">
  <div class="container">
    <div class="hero">
      <h1 class="hero__title">Denis Novik</h1>
      <p class="hero__text">UX | UI designer 24 years old, Minsk</p>
      <a href="#" class="hero__link">RU <span class="hero__link--accent">| ENG</span></a>
    </div>
    <picture>
      <source
        srcset="./images/webp/hero-ds.webp 1x, ./images/webp/hero-ds@2x.webp 2x"
        media="(min-width: 1200px)"
        type="image/webp"
      />
      <source
        srcset="./images/adaptive/hero-ds.jpg 1x, ./images/adaptive/hero-ds@2x.jpg 2x"
        media="(min-width: 1200px)"
        type="image/jpeg"
      />
      <source
        srcset="./images/webp/hero-mb.webp 1x, ./images/webp/hero-mb@2x.webp 2x"
        media="(max-width: 375px)"
        type="image/webp"
      />
      <source
        srcset="./images/adaptive/hero-mb@2x.jpg 2x"
        media="(max-width: 375px)"
        type="image/jpeg"
      />
      <img
        class="hero__pic"
        src="./images/adaptive/hero-mb.jpg"
        alt="Fotografer with camera looking left"
        width="320"
        height="478"
      />
    </picture>
  </div>
</section>
