<section class="header">
  <div class="container">
    <ul class="nav">
      <li class="nav__item"><a class="nav__link" href="">Home</a></li>
      <li class="nav__item"><a class="nav__link" href="">About me</a></li>
      <li class="nav__item"><a class="nav__link" href="">Skills</a></li>
      <li class="nav__item"><a class="nav__link" href="">Portfolio</a></li>
      <li class="nav__item"><a class="nav__link" href="">Contacts</a></li>
    </ul>
  </div>
  <button aria-label="Menu" class="menu-btn" data-menu-button aria-expanded="false" type="button">
         <svg class="menu-btn__icon"> 
           <use class="icon-open" href="../images/icons.svg#icon-open"></use>
           <use class="icon-close" href="../images/icons.svg#icon-close"></use>
         </svg>
      </button>
  <div class="mobile-menu">
    <div>
        <ul class="nav">
          <li class="nav__item"><a class="nav__link" href="">Home</a></li>
          <li class="nav__item"><a class="nav__link" href="">About me</a></li>
          <li class="nav__item"><a class="nav__link" href="">Skills</a></li>
          <li class="nav__item"><a class="nav__link" href="">Portfolio</a></li>
          <li class="nav__item"><a class="nav__link" href="">Contacts</a></li>
        </ul>
    </div>
    <div>
        <a href="#" class="hero__link">RU <span class="hero__link--accent">| ENG</span></a>
    </div>
  </div>
</section>
