<section class="section">
  <div class="container">
    <h2 class="section__title section__title--portfolio">Portfolio</h2>
    <ul class="portfolio">
      <li class="portfolio__item">
        <picture>
          <source
            srcset="./images/webp/portfolio_1-ds.webp 1x, ./images/webp/portfolio_1-ds@2x.webp 2x"
            media="(min-width: 1400px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/adaptive/portfolio_1-ds.jpg    1x,
              ./images/adaptive/portfolio_1-ds@2x.jpg 2x
            "
            media="(min-width: 1400px)"
            type="image/jpeg"
          />
          <source
            srcset="./images/webp/portfolio_1-mb.webp 1x, ./images/webp/portfolio_1-mb@2x.webp 2x"
            media="(max-width: 480px)"
            type="image/webp"
          />
          <source
            srcset="./images/adaptive/portfolio_1-mb@2x.jpg 2x"
            media="(max-width: 480px)"
            type="image/jpeg"
          />
          <img
            class="portfolio__pic"
            src="./images/adaptive/portfolio_1-mb.jpg"
            alt="Magazine of clothes shop. Girl demonstrate new collection"
            width="316"
            height="171"
          />
        </picture>

        <a class="portfolio__link" href="">Online fashion store - Homepage</a>
      </li>
      <li class="portfolio__item">
        <picture>
          <source
            srcset="./images/webp/portfolio_2-ds.webp 1x, ./images/webp/portfolio_2-ds@2x.webp 2x"
            media="(min-width: 1400px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/adaptive/portfolio_2-ds.jpg    1x,
              ./images/adaptive/portfolio_2-ds@2x.jpg 2x
            "
            media="(min-width: 1400px)"
            type="image/jpeg"
          />
          <source
            srcset="./images/webp/portfolio_2-mb.webp 1x, ./images/webp/portfolio_2-mb@2x.webp 2x"
            media="(max-width: 480px)"
            type="image/webp"
          />
          <source
            srcset="./images/adaptive/portfolio_2-mb@2x.jpg 2x"
            media="(max-width: 480px)"
            type="image/jpeg"
          />
          <img
            class="portfolio__pic"
            src="./images/adaptive/portfolio_2-mb.jpg"
            alt="Comercial Reebok. Man with tattoo jumping"
            width="316"
            height="171"
          />
        </picture>
        <a class="portfolio__link" href="">Reebok Store - Concept</a>
      </li>
      <li class="portfolio__item">
        <picture>
          <source
            srcset="./images/webp/portfolio_3-ds.webp 1x, ./images/webp/portfolio_3-ds@2x.webp 2x"
            media="(min-width: 1400px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/adaptive/portfolio_3-ds.jpg    1x,
              ./images/adaptive/portfolio_3-ds@2x.jpg 2x
            "
            media="(min-width: 1400px)"
            type="image/jpeg"
          />
          <source
            srcset="./images/webp/portfolio_3-mb.webp 1x, ./images/webp/portfolio_3-mb@2x.webp 2x"
            media="(max-width: 480px)"
            type="image/webp"
          />
          <source
            srcset="./images/adaptive/portfolio_3-mb@2x.jpg 2x"
            media="(max-width: 480px)"
            type="image/jpeg"
          />
          <img
            class="portfolio__pic"
            src="./images/adaptive/portfolio_3-mb.jpg"
            alt="Camera Braun portable macro T52 1976 year"
            width="316"
            height="171"
          />
        </picture>
        <a class="portfolio__link" href="">Braun Landing Page - Concept</a>
      </li>
    </ul>
  </div>
</section>
