<section class="section">
  <div class="container">
    <h2 class="section__title section__title--skils">Skills</h2>
    <p class="section__text section__text--subtitle">I work in such programs as</p>
    <ul class="skills">
      <li class="skills__item">
        <div class="skills__conteiner">
          <img
            class="skills__image"
            src="./images/Ps.png"
            alt="Adobe Illustrator"
            width="89"
            height="88"
          />
          <p class="skills__text section__text--skills">Adobe <br />Photoshop</p>
          <svg class="skills__icon" width="170" height="26">
            <use href="./images/icons.svg#star_4"></use>
          </svg>
        </div>
      </li>
      <li class="skills__item">
        <div class="skills__container">
          <img
            class="skills__image"
            src="./images/Ai.png"
            alt="Adobe Illustrator"
            width="89"
            height="88"
          />
          <p class="skills__text section__text--skills">Adobe <br />Illustrator</p>
          <svg class="skills__icon" width="170" height="26">
            <use href="./images/icons.svg#star_3"></use>
          </svg>
        </div>
      </li>
      <li class="skills__item">
        <div class="skills__container">
          <img
            class="skills__image"
            src="./images/Ae.png"
            alt="Adobe After Effects"
            width="89"
            height="88"
          />
          <p class="skills__text section__text--skills">Adobe <br />After Effects</p>
          <svg class="skills__icon" width="170" height="26">
            <use href="./images/icons.svg#star_4"></use>
          </svg>
        </div>
      </li>
      <li class="skills__item">
        <div class="skills__container">
          <img class="skills__image" src="./images/Figma.png" alt="Figma" width="58" height="89" />
          <p class="skills__text section__text--skills">Figma</p>
          <svg class="skills__icon skills__icon--figma" width="170" height="26">
            <use href="./images/icons.svg#star_4"></use>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</section>
